body {
  background-color:  #708090 ;
}

.mainContainer {
  display: flex;
  width: 95%;
  height: auto;
  margin: auto;;
  padding: 10px;
}

.artistAddForm {
  float: left;
  text-align: center;
  padding: 10px;
  border: 1px solid #ffffff;

}

.merchAddForm {



}

.removeArtistForm {


}
