<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Postal Rate Result</title>
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="/ajax.js"></script>
    <h1>Postal Rate Result</h1>
    <p><%=weight%> <%=mailType%> <%=result%></p>
  </body>
</html>
